apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - ../../base
  - sealed-secrets.yaml

patches:
  - target:
      kind: Deployment
      name: proxmox-exporter
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "false"
