apiVersion: v1
kind: Service
metadata:
  name: plex-exporter
  namespace: monitoring
  labels:
    app: plex-exporter
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9000"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 9000
      targetPort: 9000
      protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: plex-exporter
  namespace: monitoring
subsets:
  - addresses:
      - ip: 10.10.4.200
    ports:
      - name: metrics
        port: 9000
        protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: intel-gpu-exporter
  namespace: monitoring
  labels:
    app: intel-gpu-exporter
    instance: mandalor
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 8080
      targetPort: 8080
      protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: intel-gpu-exporter
  namespace: monitoring
  labels:
    app: intel-gpu-exporter
    instance: mandalor
subsets:
  - addresses:
      - ip: 10.10.4.200
    ports:
      - name: metrics
        port: 8080
        protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: node-exporter-mandalor
  namespace: monitoring
  labels:
    app: node-exporter
    instance: mandalor
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9100"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 9100
      targetPort: 9100
      protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: node-exporter-mandalor
  namespace: monitoring
  labels:
    app: node-exporter
    instance: mandalor
subsets:
  - addresses:
      - ip: 10.10.4.200
    ports:
      - name: metrics
        port: 9100
        protocol: TCP
