apiVersion: apps/v1
kind: Deployment
metadata:
  name: alloy-singleton
  namespace: monitoring
  labels:
    app.kubernetes.io/name: alloy
    app.kubernetes.io/component: singleton
    app.kubernetes.io/part-of: monitoring-stack
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: alloy
      app.kubernetes.io/component: singleton
  template:
    metadata:
      labels:
        app.kubernetes.io/name: alloy
        app.kubernetes.io/component: singleton
        app.kubernetes.io/part-of: monitoring-stack
    spec:
      serviceAccountName: alloy
      securityContext:
        fsGroup: 10001
        runAsGroup: 10001
        runAsNonRoot: true
        runAsUser: 10001
      containers:
        - name: alloy
          image: docker.io/grafana/alloy:v1.13.1
          imagePullPolicy: IfNotPresent
          args:
            - run
            - /etc/alloy/config.alloy
            - --storage.path=/tmp/alloy
            - --server.http.listen-addr=0.0.0.0:12345
            - --stability.level=public-preview
          ports:
            - containerPort: 12345
              name: http-metrics
              protocol: TCP
          env:
            - name: ALLOY_DEPLOY_MODE
              value: "helm"
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          volumeMounts:
            - name: config
              mountPath: /etc/alloy
            - name: alloy-data
              mountPath: /tmp/alloy
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 512Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
      volumes:
        - name: config
          configMap:
            name: alloy-singleton
        - name: alloy-data
          emptyDir: {}
