apiVersion: v1
kind: ConfigMap
metadata:
  name: searxng-settings
  namespace: searxng
data:
  settings.yml: |
    use_default_settings: true

    general:
      instance_name: "SearXNG"
      privacypolicy_url: false
      donation_url: false
      contact_url: false
      enable_metrics: true
      debug: false

    search:
      safe_search: 0
      autocomplete: "duckduckgo"
      default_lang: "en"
      formats:
        - html
        - json

    server:
      secret_key: "${SEARXNG_SECRET}"
      bind_address: "0.0.0.0"
      port: 8080
      limiter: true
      image_proxy: true
      method: "POST"

    redis:
      url: "redis://:${SEARXNG_REDIS_PASSWORD}@redis:6379/0"

    ui:
      static_use_hash: true
      default_theme: simple
      theme_args:
        simple_style: auto
      results_on_new_tab: false
      infinite_scroll: true

    outgoing:
      request_timeout: 6.0
      max_request_timeout: 15.0
      pool_connections: 100
      pool_maxsize: 20
