apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - deployment.yaml
commonLabels:
  app.kubernetes.io/name: semaphore
  app.kubernetes.io/part-of: semaphore
